<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.mapper.TProductDescMapper">
    <select id="findAll" resultType="com.qf.dto.TProductDTO">
      SELECT
          tp.*,
          td.pdesc
      FROM
          t_product tp,
          t_product_desc td
      WHERE
          tp.pid = td.pid
    </select>
    <delete id="delTproductById" parameterType="Integer">
      DELETE * FROM  t_product WHERE pid=#{pid}
     </delete>


</mapper>
